@model PdfViewModel

<!DOCTYPE html>
<html>
<head>
    <title>PDF Display</title>
</head>
<body>
    <div>
        <h2>Text Content</h2>
        <p>@Html.Raw(Model.TextContent)</p>


    </div>
</body>
</html>